.cardsBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: center;
}

.noNotesBox {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-content: center;
  align-items: center;
  text-align: center;
}